* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

div.central section.sectioncentral {
  width: 50%;
  margin: 0 auto;
}

section.section1 div.text,
footer div.all_section,
header section {
  width: 60%;
  margin: 0 auto;
}

section.sectionWhite {
  width: 90%;
  margin: 0 auto;
}

section.section1 div.text div.scritte button,
div.central section.two div.button button {
  border: 1px solid #30488F;
  border-radius: 10px;
  background-color: #30488F;
  padding: 10px;
  color: white;
  cursor: pointer;
}

section.section1 div.image img {
  width: 100%;
  height: auto;
}

div.central {
  background-color: #FFE7D2;
  padding: 200px 0px;
}

div.central section.sectioncentral h2 {
  text-align: center;
  color: #58402C;
  font-size: 20pt;
}

div.central section.title {
  padding: 0 60px;
  font-size: 16pt;
  text-align: center;
  color: #58402C;
}

div.central section.title h2 {
  font-size: 18pt;
}

div.central section.image_serie {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 80px;
  position: relative;
}

div.central section.image_serie div.one_section {
  width: 33%;
  height: 200px;
}

div.central section.image_serie div.one_section img {
  max-width: 55%;
  max-height: 55%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

div.central section.image_serie div.one_section p {
  font-size: 14pt;
  text-align: center;
  padding-top: 30px;
  color: #58402C;
  max-width: 250px;
}

div.central section.one {
  border-bottom: 1px solid gray;
}

div.central section.solo_img {
  margin: 80px;
  padding-bottom: 50px;
}

div.central section.solo_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: auto;
}

div.central section.two {
  padding: 0 150px;
  position: relative;
}

div.central section.two h2 {
  font-size: 26pt;
  text-align: center;
}

div.central section.two section.textp {
  margin-top: 50px;
  background-color: white;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 10px;
}

div.central section.two section.textp p {
  font-size: 13pt;
  padding: 20px;
  color: #58402C;
}

div.central section.two div.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

div.central section.two div.button i {
  margin: 0 10px;
  color: lightgray;
}

div.central section.two div.button p {
  margin: 20px 0;
  text-align: center;
}

div.central section.two div.button p a {
  font-size: 10pt;
  text-decoration: none;
  color: #6D5846;
}

header {
  height: 150px;
  width: 100%;
  background-color: white;
}

header section {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15pt;
  padding: 30px 0 15px 0;
}

header section ul li {
  display: inline;
  padding-right: 20px;
}

header section a {
  text-decoration: none;
  color: #6D5846;
}

header section button {
  border-radius: 10px;
  border: 1px solid #2E4691;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  color: #2E4691;
  font-weight: bold;
}

header section button:hover {
  background-color: #2E4691;
  color: white;
}

footer {
  height: 150px;
  width: 100%;
  background-color: white;
}

footer div.all_section {
  display: flex;
  flex-wrap: wrap;
}

footer div.all_section section.one_logo {
  width: 30%;
  display: flex;
  margin: 60px 0;
  padding-right: 50px;
}

footer div.all_section section.one_logo img {
  width: 150px;
  height: 50px;
}

footer div.all_section section.one_logo span {
  text-align: left;
  font-size: 13pt;
  color: #58402C;
  padding-left: 10px;
}

footer div.all_section section.one_logo span a {
  text-decoration: none;
  color: #30488F;
  font-weight: 600;
}

footer div.all_section section.one_logo span a:hover {
  text-decoration: underline;
}

footer div.all_section section.two_link {
  width: 70%;
  display: flex;
  margin: 60px 0;
  padding-right: 150px;
}

footer div.all_section section.two_link section {
  margin-right: 50px;
}

footer div.all_section section.two_link section h3 {
  color: #58402C;
}

footer div.all_section section.two_link section a {
  font-size: 10pt;
  display: block;
  color: #58402C;
  text-decoration: none;
  padding-top: 20px;
  text-align: justify;
}

footer div.all_section section.two_link section a:hover {
  color: #30488F;
}

section.sectionWhite {
  display: flex;
  flex-wrap: wrap;
}

section.sectionWhite div.soloImagedx {
  width: 50%;
  margin: 100px 0;
}

section.sectionWhite div.soloImagedx img {
  max-width: 100%;
  max-height: 100%;
}

section.sectionWhite div.textImagesx {
  width: 50%;
  margin: 100px 0;
  padding-right: 400px;
  text-align: left;
  position: relative;
}

section.sectionWhite div.textImagesx h2 {
  font-size: 22pt;
  color: #58402C;
  margin-bottom: 20px;
}

section.sectionWhite div.textImagesx p {
  font-size: 16pt;
  color: #58402C;
  margin-bottom: 20px;
}

section.sectionWhite div.textImagesx a {
  font-size: 16pt;
  text-decoration: none;
  color: #30488F;
}

section.sectionWhite div.textImagesx img {
  max-width: 35%;
  max-height: 35%;
  position: absolute;
  left: 20%;
  top: 100%;
  transform: translate(-20%, -100%);
}

section.sectionWhite div.textImagedx {
  width: 50%;
  margin: 100px 0;
  padding-left: 400px;
  text-align: left;
  position: relative;
}

section.sectionWhite div.textImagedx h2 {
  font-size: 22pt;
  color: #58402C;
  margin-bottom: 20px;
}

section.sectionWhite div.textImagedx p {
  font-size: 16pt;
  color: #58402C;
  margin-bottom: 20px;
}

section.sectionWhite div.textImagedx a {
  font-size: 16pt;
  text-decoration: none;
  color: #30488F;
}

section.sectionWhite div.textImagedx img {
  max-width: 35%;
  max-height: 35%;
  position: absolute;
  left: 80%;
  top: 80%;
  transform: translate(-80%, -80%);
}

section.sectionWhite div.soloImagesx {
  width: 50%;
  margin: 100px 0;
}

section.sectionWhite div.soloImagesx img {
  max-width: 100%;
  max-height: 100%;
}

section.section1 {
  height: auto;
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
}

section.section1 div.text {
  display: flex;
}

section.section1 div.text div.scritte {
  width: 50%;
}

section.section1 div.text div.scritte h1 {
  font-size: 38pt;
  color: #58402C;
}

section.section1 div.text div.scritte p.textOne {
  font-size: 20pt;
  margin: 50px 0;
  color: #58402C;
}

section.section1 div.text div.scritte i {
  margin: 0 10px;
  color: lightgray;
}

section.section1 div.text div.scritte p {
  margin: 10px 0;
}

section.section1 div.text div.scritte p a {
  font-size: 10pt;
  text-decoration: none;
  color: #6D5846;
}

section.section1 div.image {
  width: 50%;
}

div.container {
  width: 100%;
}

