* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

div.central section.sectioncentral {
  width: 50%;
  margin: 0 auto;
}

section.section1 div.text,
footer section,
header section {
  width: 60%;
  margin: 0 auto;
}

section.sectionWhite div.textImage {
  width: 90%;
  margin: 0 auto;
  height: 300px;
}

section.section1 div.text div.scritte button {
  border: 1px solid #30488F;
  border-radius: 10px;
  background-color: #30488F;
  padding: 10px;
  color: white;
  cursor: pointer;
}

section.section1 div.image img {
  width: 100%;
  height: auto;
}

div.central {
  background-color: #FFE7D2;
  padding: 100px 0px;
}

div.central section.title {
  padding: 0 60px;
  font-size: 16pt;
  text-align: center;
  color: #58402C;
}

div.central section.image_serie {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 80px;
  position: relative;
}

div.central section.image_serie img {
  width: 150px;
  height: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

div.central section.image_serie p {
  font-size: 14pt;
  text-align: center;
  padding-top: 30px;
  color: #58402C;
}

div.central section.solo_img {
  margin: 80px;
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}

div.central section.solo_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: auto;
}

header {
  height: 150px;
  width: 100%;
  background-color: white;
}

header section {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15pt;
  padding: 30px 0 15px 0;
}

header section ul li {
  display: inline;
  padding-right: 20px;
}

header section a {
  text-decoration: none;
  color: #6D5846;
}

header section button {
  border-radius: 10px;
  border: 1px solid #2E4691;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  color: #2E4691;
  font-weight: bold;
}

footer {
  height: 150px;
  width: 100%;
  background-color: white;
}

section.section1 {
  height: auto;
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
}

section.section1 div.text {
  display: flex;
}

section.section1 div.text div.scritte {
  width: 50%;
}

section.section1 div.text div.scritte h1 {
  font-size: 38pt;
  color: #58402C;
}

section.section1 div.text div.scritte p.textOne {
  font-size: 20pt;
  margin: 50px 0;
  color: #58402C;
}

section.section1 div.text div.scritte i {
  margin: 0 10px;
  color: lightgray;
}

section.section1 div.text div.scritte p {
  margin: 10px 0;
}

section.section1 div.text div.scritte p a {
  font-size: 10pt;
  text-decoration: none;
  color: #6D5846;
}

section.section1 div.image {
  width: 50%;
}

div.container {
  width: 100%;
}

