* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

//definizione variabili
$bg_orange: #FFE7D2;
$bg_white: white;
$size: 15pt;
$height: 150px;

//placeholder e mixin
%centrale {
  width: 50%;
  margin: 0 auto;
}

@mixin headFooter ($height) {
  height: $height;
  width: 100%;
  background-color: $bg_white;
}

%headFooterCent {
  width: 60%;
  margin: 0 auto;
}

%sezioneImmagini {
  width: 90%;
  margin: 0 auto;
  height: 300px;
}

@mixin text($size) {
  font-size: $size;
}

%buttonSection1 {
  border: 1px solid #30488F;
  border-radius: 10px;
  background-color: #30488F;
  padding: 10px;
  color: white;
  cursor: pointer;
}

%image {
  width: 100%;
  height: auto;
}
//importazione vari file
@import 'posizionamentoCentrale';
@import 'header';
@import 'footer';
@import 'sezioneImmagini';
@import 'sezione1';

// div generale parte centrale
div.container {
  width: 100%;
}
