div.central {
  background-color: $bg_orange;
  padding: 200px 0px;

  section.sectioncentral {

    @extend %centrale;

    h2 {
      text-align: center;
      color: #58402C;
      @include text($size: 20pt);
    }
  }

  section.title {
    padding: 0 60px;
    @include text($size: 16pt);
    text-align: center;
    color: #58402C;

    h2 {
      @include text($size: 18pt);
    }
  } //prima sezione

  section.image_serie {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 80px;
    position: relative;

    div.one_section {
      width: 33%;
      height: 200px;

    img {
      max-width: 55%;
      max-height: 55%;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }

    p {
      @include text($size: 14pt);
      text-align: center;
      padding-top: 30px;
      color: #58402C;
      max-width: 250px;
    }
  } //chiusura class one_section
  } //seconda sezione

  section.one {
    border-bottom: 1px solid gray;
  }

  section.solo_img {
    margin: 80px;
    padding-bottom: 50px;

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 300px;
      width: auto;
    }

  } //terza sezione

  section.two {
    padding: 0 150px;
    position: relative;

    h2 {
      @include text($size: 26pt);
      text-align: center;
    }

    section.textp {
      margin-top: 50px;
      background-color: $bg_white;
      padding: 30px;
      border: 1px solid black;
      border-radius: 10px;
      p {
        @include text($size: 13pt);
        padding: 20px;
        color: #58402C;
      }
    } //chiusura section textp

    div.button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;

      button {
        @extend  %buttonSection1;
      }

      i {
        margin: 0 10px;
        color: lightgray;
      }

      p {
        margin: 20px 0;
        text-align: center;

        a {
          @include text($size: 10pt);
          text-decoration: none;
          color: #6D5846;
        }
    } //chiusura div button


    }
  } //chiusura section two
} //chiusura div central
