section.sectionWhite {
    @extend %sezioneImmagini;
    display: flex;
    flex-wrap: wrap;

  div.soloImagedx {
    width: 50%;
    margin: 100px 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  div.textImagesx {
    width: 50%;
    margin: 100px 0;
    padding-right: 400px;
    text-align: left;
    position: relative;

    h2 {
      @include text($size: 22pt);
      color: #58402C;
      margin-bottom: 20px;
    }

    p {
      @include text($size: 16pt);
      color: #58402C;
      margin-bottom: 20px;
    }

    a {
      @include text($size: 13pt);
      text-decoration: none;
      color: #30488F;
    }

    img {
      max-width: 35%;
      max-height: 35%;
      position: absolute;
      left: 20%;
      top: 100%;
      transform: translate(-20%, -100%);
    }
  }

  div.textImagedx {
    width: 50%;
    margin: 100px 0;
    padding-left: 400px;
    text-align: left;
    position: relative;

    h2 {
      @include text($size: 22pt);
      color: #58402C;
      margin-bottom: 20px;
    }

    p {
      @include text($size: 16pt);
      color: #58402C;
      margin-bottom: 20px;
    }

    a {
      @include text($size: 13pt);
      text-decoration: none;
      color: #30488F;
    }

    img {
      max-width: 35%;
      max-height: 35%;
      position: absolute;
      left: 80%;
      top: 80%;
      transform: translate(-80%, -80%);
    }
  }

  div.soloImagesx {
    width: 50%;
    margin: 100px 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
